<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<input type="hidden" id="original_variant_id" value={{ product.variants[0].id }}>

{% assign product = all_products["climbing-red-strawberry-seeds-1"] %}

<div id="popup1" class="modal-box">  
  <header>
    <a href="#" class="js-modal-close close">×</a>
    <h3>If you buy 2 products, the following product will be free</h3>
  </header>

  <div id="free_product" class="modal-body">
    <img src="{{ all_products["climbing-red-strawberry-seeds-1"].featured_image | img_url : '300x300'}}">
    <p>{{ all_products["climbing-red-strawberry-seeds-1"].title }}</p>
    {% include 'product-price' %}
  </div> 

  <footer>
    <a href="#" class="btn btn-small free_add_to_cart">Yes</a>
    <a href="#" class="btn btn-small js-modal-close">No</a>
  </footer>
</div>

<div id="popup2" class="modal-box">  
  <header>
    <a href="#" class="js-modal-close close">×</a>
    <h3>Free For You</h3>
  </header>

  <div id="free_product" class="modal-body">
    <img src="{{ all_products["climbing-red-strawberry-seeds-1"].featured_image | img_url : '300x300'}}">
    <p>{{ all_products["climbing-red-strawberry-seeds-1"].title }}</p>
    {% include 'product-price' %}
  </div> 

  <footer>
    <a href="#" class="btn btn-small free_add_to_cart">Add to Cart</a>
    <a href="#" class="btn btn-small js-modal-close">Cancel</a>
  </footer>
</div>

<input type="hidden" id="free_variant_id" value={{ product.variants[0].id }}>

<style>
  
  #popup .btn {
    font-size: 3vmin;
    padding: 0.75em 1.5em;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    text-decoration: none;
    display: inline;
    border-radius: 4px;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
  }

  #popup .btn:hover {
    background-color: #ddd;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
  }

  #popup .btn-small {
    padding: .75em 1em;
    font-size: 0.8em;
  }  
  
  .modal-box {
    display: none;
    position: absolute;
    z-index: 9999;
    width: 98%;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
  }
  
  @media (min-width: 360px) {
  	.modal-box { width: 350px; }
  }  

  .modal-box header,
  .modal-box .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
  }

  .modal-box header h3,
  .modal-box header h4,
  .modal-box .modal-header h3,
  .modal-box .modal-header h4 { margin: 0; }

  .modal-box .modal-body { padding: 2em 1.5em; }

  .modal-box footer,
  .modal-box .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
  }

  .modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
  }

  a.close {
    line-height: 1;
    font-size: 1.5em;
    position: absolute;
    top: 5%;
    right: 2%;
    text-decoration: none;
    color: #bbb;
  }

  a.close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
  }
</style>  

<script>
  $(function(){

    var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");

    $('button[data-modal-id]').click(function(e) {
      if($('#quantity').val() > 1){
        e.preventDefault();        
        $("body").append(appendthis);
        $(".modal-overlay").fadeTo(500, 0.7);
        //$(".js-modalbox").fadeIn(500);
        var modalBox = $(this).attr('data-modal-id') + '2';
        $('#'+modalBox).fadeIn($(this).data());
        return false;
      }
      else{
        e.preventDefault();          
        $("body").append(appendthis);
        $(".modal-overlay").fadeTo(500, 0.7);
        //$(".js-modalbox").fadeIn(500);
        var modalBox = $(this).attr('data-modal-id') + '1';
        $('#'+modalBox).fadeIn($(this).data());
        return false;
      }      
    });  


    $("#popup2 .js-modal-close, .modal-overlay").click(function() {
      $("#popup2 .modal-box, .modal-overlay").fadeOut(500, function() {
        $(".modal-overlay").remove();
        $('#product-form').submit();
      });
    });
    
    $("#popup1 .js-modal-close, .modal-overlay").click(function() {
      $("#popup1 .modal-box, .modal-overlay").fadeOut(500, function() {
        $(".modal-overlay").remove();
        $('#product-form').submit();
      });
    });    

    $(window).resize(function() {
      $(".modal-box").css({
        top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
        left: ($(window).width() - $(".modal-box").outerWidth()) / 2
      });
    });

    $(window).resize();

  });
  
  $('#popup2 .free_add_to_cart').click(function() {
  	var free_id = $('#free_variant_id').val();            
  	add_special_Item(free_id, 1);
    //window.location.reload(true);
  });
  
  $('#popup1 .free_add_to_cart').click(function() {
  	var free_id = $('#free_variant_id').val();  
    var original_variant_id = $('#original_variant_id').val();
    add_original_Item(original_variant_id, 1, free_id);
    //window.location.reload(true);
  });  
  
  function add_special_Item(variant_id, quantity, callback) {
    var quantity = quantity || 1;
    var params = {
      type: 'POST',
      url: '/cart/add.js',
      data: 'quantity=' + quantity + '&id=' + variant_id,
      dataType: 'json',
      success: function(line_item) { 
        if ((typeof callback) === 'function') {
          callback(line_item);
        }
        else {
          $('#product-form').submit();
          return 'success';
          console.log('Success');          
        }
      },
      error: function(XMLHttpRequest, textStatus) {
        return 'fail';
        console.log('Fail');
      }
    };
    jQuery.ajax(params);
  } 
  
  function add_original_Item(variant_id, quantity, free_id, callback) {
    var quantity = quantity || 1;
    var params = {
      type: 'POST',
      url: '/cart/add.js',
      data: 'quantity=' + quantity + '&id=' + variant_id,
      dataType: 'json',
      success: function(line_item) { 
        if ((typeof callback) === 'function') {
          callback(line_item);
        }
        else {       
  		  add_special_Item(free_id, 1);          
          return 'success';
          console.log('Success');          
        }
      },
      error: function(XMLHttpRequest, textStatus) {
        return 'fail';
        console.log('Fail');
      }
    };
    jQuery.ajax(params);
  }   
  
</script>  