<div id="col-main" class="cart-page container">
  {% if cart.items == empty %}
  <div class="empty">
    <p>{{ 'cart.general.empty' | t }} {{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>
  {% include 'cart-collection' %}
  {% else %}
  <form action="/cart" method="post" id="cartform" class="clearfix">
    <div class="row">
      <div class="col-sm-8 col-md-9 col-left">
        <div class="cart-header">
          <div class="btn1">
            <a href="/collections/all">{{ 'cart.general.continue_shopping' | t }}</a>
          </div>
          <div class="btn2">
            You have {{cart.item_count}} {{cart.item_count | pluralize: 'item', 'items'}} in your cart
          </div>
          <div class="btn3">
            <a href="/cart/clear">{{ 'cart.general.empty_cart' | t }}</a>
          </div>
        </div>
        <div class="cart-items">
          {% for item in cart.items %}
          <div class="cart-item" product-type="{{ item.product.type }}">
            <div class="inner">
              <div class="cart-left tip_holder_big">
                <a href="{{item.url }}">
                  <img src="{{ item | img_url: 'medium' }}"  alt="{{ item.title | escape }}" />
                </a>
                <div class="tip_holder_small">
                  <div class="magnifier">
                    <div class="size-limiter">
                      <img src="{{ item | img_url: 'large' }}" alt="" />
                    </div>
                    <strong>{{ item.product.title }}</strong>
                    <div class="info">
                      <div class="meta">
                        {% if item.product.variants.size > 1 %}
                        <div class="meta1">{{ item.variant.title }}</div>
                        {% endif %}
                        <div class="meta2">{{ 'cart.general.quantity' | t }} x {{ item.quantity }}</div>
                      </div>
                      <div class="price">{{ item.price | money }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cart-right">
                <div class="wrap">
                  <div class="product-title">
                    <a href="{{item.url }}">
                      <span>{{ item.product.title }}</span>
                      {% if item.product.variants.size > 1 %}
                      <span class="variant_title"> - {{ item.variant.title }}</span>
                      {% endif %}
                      {% for p in item.properties %}
                      {% unless p.last == blank %}
                      {{ p.first }}:
                      {% if p.last contains '/uploads/' %}
                      <a class="lightbox" href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                      {{ p.last }}
                      {% endif %}
                      <br />
                      {% endunless %}
                      {% endfor %}
                    </a>
                  </div>
                  <div class="cart-group cart-qty">
                    <div class="product-price">{{ item.price | money }}</div>
                    <div class="product-qty">
                      <div class="group-input">
                        <div class="quantity-selector product_quantity cart_quantity">
                          <a class="plus-minus" onclick="TextBox_AddToIntValue_{{ item.id }}('updates_{{ item.id }}',-1)"><i class='iconsh cart_minus'></i></a>
                          <input class="quantput" name="updates[]" class="pop-quantity quantity-selector" id="updates_{{ item.id }}" type="text" value="{{ item.quantity }}" min="0" size="4" />
                          <a class="plus-minus" onclick="TextBox_AddToIntValue_{{ item.id }}('updates_{{ item.id }}',+1)"><i class='iconsh cart_plus'></i></a>
                        </div>
                        <script>
                          function TextBox_AddToIntValue_{{ item.id }}(targetId,addToValue)
                          {
                              var input = document.getElementById(targetId);
                              var textInt = parseInt(input.value);
                              if(isNaN(textInt))
                              {
                                  textInt = 0;
                              }
                            var total_quantity= textInt + addToValue;
                           //input.value=total_quantity;

                           if(total_quantity<=1){
                                input.value=1;
                            } else{
                               input.value=total_quantity;
                            }
                          }
                        </script> 

                        <span class="bar"></span>
                      </div>
                      <button type="submit" id="update-cart" class="btn btn-1 ripple update" name="update">
                        {{ 'cart.general.update' | t }}
                      </button>
                    </div>
                  </div>
                  <a class="cart-remove" href="/cart/change?line={{ forloop.index }}&quantity=0" title="{{ 'cart.general.remove' | t }}">
                    <i class="zmdi zmdi-close"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-sm-4 col-md-3 col-right">
        <div class="widget">
          <div class="cart-header">
            <div class="btn2 title">
              <span id="bk-cart-subtotal-label">{{ 'cart.general.subtotal' | t }}</span>
            </div>
          </div>
          <div class="cart-items">
            <div class="cart-item">
              <div class="title">
                <div class="subtotal"><span id="bk-cart-subtotal-price">{{ cart.total_price | money }}</span></div>
              </div>

              {% if settings.allow_add_note %}
              <div id="checkout-addnote">
                <div class="group-input">      
                  <textarea id="note" rows="3" class="input" name="note">{{ cart.note }}</textarea>
                  <span class="bar"></span>
                  <label>{{ 'cart.general.note' | t }}</label>
                </div>
              </div>
              {% endif %}
              
              {% if settings.cart_terms_conditions != blank %}
              {% assign tmp = settings.cart_terms_conditions %}
              {% assign page = pages[tmp] %}
              <div class="terms_conditions">
                <input type="checkbox" id="agree" />
                <label for="agree">
                  I agree with the <a href="{{page.url}}">{{page.title | downcase}}</a>.
                </label>
              </div>
              <script>
                $('body').on('click', '[name="checkout"], [name="goto_pp"], [name="goto_gc"]', function() {
                  if ($('#agree').is(':checked')) {
                    $(this).submit();
                  }
                  else {
                    alert("You must agree with the terms and conditions of sales to check out.");
                    return false;
                  }
                });
              </script>
              {% endif %}

              <div id="checkout-proceed" class="control-group">
                <button class="btn btn-1 btn-block big ripple" type="submit" id="update-cart" name="checkout">{{ 'cart.general.checkout' | t }}</button>
                {% if additional_checkout_buttons %}
                <!--<div id="additional-checkout-buttons">
                  <span id="additional-checkout-buttons-label">{{'cart.general.checkout_using' | t}}:</span>
                  {{ content_for_additional_checkout_buttons }}
                </div>-->
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% endif %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
  $(".cart-items .cart-item[product-type!='Free'] .quantput").change(function() {
  	var count = $(".cart-items .cart-item[product-type!='Free'] .quantput[value!='1']").length;
    var current_count = $(".cart-items .cart-item[product-type='Free'] .quantput");

    if($(this).val() < 2)
      count = count - 1;

    if(current_count.val() > count) current_count.val(count);  
    $("button[name='update']").click();
    
  });
  
  $(".cart-items .cart-item[product-type!='Free'] .plus-minus").click(function() {
  	var count = $(".cart-items .cart-item[product-type!='Free'] .quantput[value!='1']").length;
    var current_count = $(".cart-items .cart-item[product-type='Free'] .quantput");

    if($(this).parent().find(".quantput").val() < 2)
      count = count - 1;

    if(current_count.val() > count) current_count.val(count);  
    $("button[name='update']").click();
    
  });
  
  $(".cart-items .cart-item[product-type='Free'] .quantput").change(function() {
  	var count = $(".cart-items .cart-item[product-type!='Free'] .quantput[value!='1']").length;
    if($(this).val() > count) $(this).val(count); 
  });
  
  $(".cart-items .cart-item[product-type='Free'] .plus-minus").click(function() {
  	var count = $(".cart-items .cart-item[product-type!='Free'] .quantput[value!='1']").length;
    if($(this).parent().find(".quantput").val() > count) $(this).parent().find(".quantput").val(count); 
  });  
</script>  